.top-banner {
    &__header-title {
        position: relative;

        &::before {
            content: "Tracker.GG";
            position: absolute;
            transform: translate(-2px, -2px);
            opacity: 0.2;
        }
    }
}